/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  width: 100%;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;}
a:visited {
  color: #ff7f50;
}
a:active {
  color: #994c30;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white !important;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s;
  transition-property: all;
}
.button:hover,
.button:focus,
.button:active {
  opacity: 0.8;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #ff7f50 !important;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}
.button.contact:hover,
.button.contact:focus,
.button.contact:active {
  background-color: #ff7f50;
  color: #ffffff !important;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  float: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #c4c4c4;
}

#hero h1 {
  text-align: center;
  color: #800000;
}

.center {
  text-align: center;
}

.logo {
  max-width: 150px;
}

header {
  background-color: #ffe3c3;
  padding: 10px 5px 15px 5px;
  /* border-bottom: 3px solid #4a4a4a; */
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.65);
  -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.65);
  box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.65);
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  margin-top: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

#main {
  padding-top: 133px;
}

.columnLeft {
  width: 68%;
  float: left;
  padding: 0px;
}

.columnRight{
  width: 30%;
  float: right;
  padding: 0 20 0 20;
}

#contact {
  margin-top: 30px;
}

.icon {
  width: 45px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}


.social-box {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  float: left;
  clear: left;
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

footer {
  width: 100%;
  float: left;
  margin-top: 50px;
}

.paddedImg {
  float: left;
  margin-top: 30px;
}

.floatRight {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 120px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .logo {
    max-width: 250px;
  }

  .col-md-6 {
  width: 50%;
  min-width: 400px;
  }

  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .row::after {
  content: "";
  clear: both;
  display: table;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
    min-width: 400px;
  }

  .col-lg-5 {
    width: 40%;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.berlin-illustration {
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

html {
  scroll-behavior: smooth;
}

.full-width {
  width: 100%;
  background-color: #f38822;
}

@-webkit-keyframes kf_el_S4jhmYoSNb_an_N_Te0KtrX {
  0% {
    -webkit-transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, -110px);
    transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, -110px);
    }
  41.67% {
    -webkit-transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, -110px);
    transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, -110px);
    }
  100% {
    -webkit-transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, 570px);
    transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, 570px);
    }
  }

@keyframes kf_el_S4jhmYoSNb_an_N_Te0KtrX {
  0% {
    -webkit-transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, -110px);
    transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, -110px);
    }
  41.67% {
    -webkit-transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, -110px);
    transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, -110px);
    }
  100% {-webkit-transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, 570px);
    transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, 570px);
    }
  }

@-webkit-keyframes kf_el_be3c9GXxrx_an_lk159vy3K {
  0% {
    -webkit-transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, -70px);
    transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, -70px);
    }
  30% {
    -webkit-transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, -70px);
    transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, -70px);
    }
  100% {
    -webkit-transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, 570px);
    transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, 570px);
    }
  }
@keyframes kf_el_be3c9GXxrx_an_lk159vy3K {
  0% {
    -webkit-transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, -70px);
    transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, -70px);
    }
  30% {
    -webkit-transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, -70px);
    transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, -70px);
    }
  100% {
    -webkit-transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, 570px);
    transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, 570px);
    }
  }

@-webkit-keyframes kf_el_5RhpMz8g_5_an_UYBV6fKy- {
  0% {
    -webkit-transform: translate(254.2943115234375px, 68.11500811576843px) translate(-254.2943115234375px, -68.11500811576843px) translate(0px, -140px);
    transform: translate(254.2943115234375px, 68.11500811576843px) translate(-254.2943115234375px, -68.11500811576843px) translate(0px, -140px);
    }
  100% {
    -webkit-transform: translate(254.2943115234375px, 68.11500811576843px) translate(-254.2943115234375px, -68.11500811576843px) translate(0px, 565px);
    transform: translate(254.2943115234375px, 68.11500811576843px) translate(-254.2943115234375px, -68.11500811576843px) translate(0px, 565px);
    }
  }

@keyframes kf_el_5RhpMz8g_5_an_UYBV6fKy- {
  0% {
    -webkit-transform: translate(254.2943115234375px, 68.11500811576843px) translate(-254.2943115234375px, -68.11500811576843px) translate(0px, -140px);
    transform: translate(254.2943115234375px, 68.11500811576843px) translate(-254.2943115234375px, -68.11500811576843px) translate(0px, -140px);
    }
  100% {
    -webkit-transform: translate(254.2943115234375px, 68.11500811576843px) translate(-254.2943115234375px, -68.11500811576843px) translate(0px, 565px);
    transform: translate(254.2943115234375px, 68.11500811576843px) translate(-254.2943115234375px, -68.11500811576843px) translate(0px, 565px);
    }
  }

@-webkit-keyframes kf_el_rpT-6wr_PqT_an_D2A1mxE_L {
  0% {
    -webkit-transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 20px);
    transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 20px);
    }
  50% {
    -webkit-transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 0px);
    transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 0px);
    }
  100% {
    -webkit-transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 20px);
    transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 20px);
    }
  }

u@keyframes kf_el_rpT-6wr_PqT_an_D2A1mxE_L {
  0% {
    -webkit-transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 20px);
    transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 20px);
    }
  50% {
    -webkit-transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 0px);
    transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 0px);
    }
  100% {
    -webkit-transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 20px);
    transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 20px);
    }
  }

  @-webkit-keyframes kf_el_Bu3WlZYSPd_an_hxOSkGp2- {
    0% {
      opacity: 0;
      }
    5% {
      opacity: 1;
      }
    25% {
      opacity: 1;
      }
    26.67% {
      opacity: 0;
    }
    48.33% {
      opacity: 0;
      }
    51.67% {
      opacity: 1;
      }
    70% {
      opacity: 1;
      }
    71.67% {
      opacity: 0;
      }
    100% {
      opacity: 0;
      }
    }

    @keyframes kf_el_Bu3WlZYSPd_an_hxOSkGp2- {
      0% {
        opacity: 0;
        }
      5% {
        opacity: 1;
        }
      25% {
        opacity: 1;
        }
      26.67% {
        opacity: 0;
        }
      48.33% {
        opacity: 0;
        }
      51.67% {
        opacity: 1;
        }
      70% {
        opacity: 1;
        }
      71.67% {
        opacity: 0;
        }
      100% {
        opacity: 0;
        }
      }

      @-webkit-keyframes kf_el_Bu3WlZYSPd_an_utIzqyhNT {
        0% {
          -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
          transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
          }
        25% {
          -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, 70px);
          transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, 70px);
          }
        38.33% {
          -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
          transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
          }
        50% {
          -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
          transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
          }
        70% {
          -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, 70px);
          transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, 70px);
          }
        88.33% {
          -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
          transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
          }
        100% {
          -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
          transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
          }
        }

        @keyframes kf_el_Bu3WlZYSPd_an_utIzqyhNT {
          0% {
            -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
            transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
            }
          25% {
            -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, 70px);
            transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, 70px);
            }
          38.33% {
            -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
            transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
            }
          50% {
            -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
            transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
            }
          70% {
            -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, 70px);
            transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, 70px);
            }
          88.33% {
            -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
            transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
            }
          100% {
            -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
            transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
            }
          }

          @-webkit-keyframes kf_el_sWGx6hHrqr_an_0EBeNBs61 {
            0% {
              -webkit-transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 50px);
              transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 50px);
              }
            50% {
              -webkit-transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 0px);
              transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 0px);
              }
            100% {
              -webkit-transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 50px);
              transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 50px);
              }
            }

            @keyframes kf_el_sWGx6hHrqr_an_0EBeNBs61 {
              0% {
                -webkit-transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 50px);
                transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 50px);
                }
              50% {
                -webkit-transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 0px);
                transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 0px);
                }
              100% {
                -webkit-transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 50px);
                transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 50px);
                }
              }

              #el_-VML_ow4G * {
                -webkit-animation-duration: 2s;animation-duration: 2s;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);animation-timing-function: cubic-bezier(0, 0, 1, 1);
                }

              #el_0d717S4xbw {
                fill: #fff;
                }
              #el_PX_5Jm-iOp {
                fill: #444;
                }
              #el_H4QEpXPRNf {
                fill: #fff;
                }
              #el_3GSu1y3P0z {
                fill: #fff;
                }
              #el_pngi6_FJEA {
                fill: #444;
                }
              #el_D1zjcruBQ3 {
                fill: #fff;
                }
              #el_A253HwhlnH {
                fill: #fff;
                }
              #el_v6tI3pAxTA {
                fill: #444;
                }
              #el_IFOCzXqI3U {
                fill: #fff;
                }
              #el_N7qxjKMJeaM {
                fill: #444;
                }
              #el_-jt4XRFHw5I {
                fill: #fff;
                }
              #el_4SnE4BFsR9F {
                fill: #444;
                }
              #el_nknjaswRLug {
                fill: #fff;
                }
              #el_faBi1l-T4Mg {
                fill: #444;
                }
              #el_2-D50sYFzbr {
                fill: #fff;
                }
              #el_tlSengnXXLO {
                fill: #444;
                }
              #el_5O5QIP6zEI9 {
                fill: #fff;
                }
              #el_lwmZ3fXp0f3 {
                fill: #444;
                }
              #el_JgjM1G0lmpH {
                fill: #fff;
                }
              #el_muXR1GPZenR {
                fill: #ed7b22;
                }
              #el_jhZJcPgZaHm {
                fill: #fff;
                }
              #el_1mQ-NVpY2fw {
                fill: #444;
                }
              #el_4lweDlzTk36 {
                fill: #fff;
                stroke: #fff;
                stroke-width: 11px;
                stroke-miterlimit: 10;
                }
              #el_3aZMsPWtulX {
                fill: #fff;
                }
              #el_3f_gGc6tb5K {
                fill: #ed7b22;
                }
              #el_u84WTYYuyv0 {
                stroke-miterlimit: 10;
                fill: none;
                stroke: #444;
                stroke-linecap:
                round;
                stroke-width: 5.16px;
                }
              #el_tL_F13SoGBW {
                fill: #444;
                }
              #el_d2M8rkokCmI {
                fill: #444;
                }
              #el_DuVlfsX2TNZ {
                fill: #444;
                }
              #el_5waLxDOI3JU {
                fill: #444;
                }
              #el_IYLsBwDKBI9 {
                stroke-miterlimit: 10;
                fill: none;
                stroke: #444;
                stroke-linecap: round;
                stroke-width: 5.16px;
                }
              #el_R-vuz_Xmf-H {
                fill: #444;
                }
              #el_rJXD1Aqg8vo {
                fill: #444;
                }
              #el_3ZkEuB3YLut {
                fill: #444;
                }
              #el_D-kK35FK_Mq {
                opacity: 0.05;
                }
              #el_KBoXyInU-BC {
                fill: #444;
                }
              #el_kKgTPOkxcvV {
                fill: #444;
                }
              #el_FKXYag73ZH7 {
                fill: #444;
                }
              #el_wqwdHXxDB3F {
                fill: #fff;
                }
              #el_3N3UKBAdUKj {
                fill: #fff;
                }
              #el_WEqBIxlGP7Y {
                fill: #fff;
                }
              #el_P9sjJXWy-H- {
                fill: #fff;
                }
              #el_3vrZfL5PL2B {
                fill: #fff;
                }
              #el_2S6J3qJDpvn {
                stroke-miterlimit: 10;
                fill: none;
                stroke: #444;
                stroke-width: 6px;
                }
              #el_QGYAJq6L74R {
                fill: #444;
                }
              #el_MRcrx1e5f9B {
                fill: #444;
                }
              #el_JO04r99mMQJ {
                fill: #fff;
                }
              #el_BK4CMStZ2kb {
                fill: #fff;
                }
              #el_aHFmJmbCcN1 {
                fill: #ed7b22;
                }
              #el_F-MrGjcdWyF {
                fill: #ed7b22;
                }
              #el_24ulwYa0xwl {
                fill: #444;
                }
              #el_sWGx6hHrqr_an_0EBeNBs61 {
                -webkit-animation-fill-mode: backwards;
                animation-fill-mode: backwards;
                -webkit-transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 50px);
                transform: translate(213.3400115966797px, 297.35572814941406px) translate(-213.3400115966797px, -297.35572814941406px) translate(0px, 50px);
                -webkit-animation-name: kf_el_sWGx6hHrqr_an_0EBeNBs61;
                animation-name: kf_el_sWGx6hHrqr_an_0EBeNBs61;
                -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
                animation-timing-function: cubic-bezier(0, 0, 1, 1);
                }
              #el_Bu3WlZYSPd_an_utIzqyhNT {
                -webkit-animation-fill-mode: backwards;
                animation-fill-mode: backwards;
                -webkit-transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
                transform: translate(163.68499755859375px, 321.510009765625px) translate(-163.68499755859375px, -321.510009765625px) translate(0px, -80px);
                -webkit-animation-name: kf_el_Bu3WlZYSPd_an_utIzqyhNT;
                animation-name: kf_el_Bu3WlZYSPd_an_utIzqyhNT;
                -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
                animation-timing-function: cubic-bezier(0, 0, 1, 1);
                }
              #el_Bu3WlZYSPd {
                -webkit-animation-fill-mode: backwards;
                animation-fill-mode: backwards;
                opacity: 0;
                -webkit-animation-name: kf_el_Bu3WlZYSPd_an_hxOSkGp2-;
                animation-name: kf_el_Bu3WlZYSPd_an_hxOSkGp2-;
                -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
                animation-timing-function: cubic-bezier(0, 0, 1, 1);
                }
              #el_rpT-6wr_PqT_an_D2A1mxE_L {
                -webkit-animation-fill-mode: backwards;
                animation-fill-mode: backwards;
                -webkit-transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 20px);
                transform: translate(254.30999755859375px, 160.0599822998047px) translate(-254.30999755859375px, -160.0599822998047px) translate(0px, 20px);
                -webkit-animation-name: kf_el_rpT-6wr_PqT_an_D2A1mxE_L;
                animation-name: kf_el_rpT-6wr_PqT_an_D2A1mxE_L;
                -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
                animation-timing-function: cubic-bezier(0, 0, 1, 1);
                }
              #el_5RhpMz8g_5_an_UYBV6fKy- {
                -webkit-animation-fill-mode: backwards;
                animation-fill-mode: backwards;
                -webkit-transform: translate(254.2943115234375px, 68.11500811576843px) translate(-254.2943115234375px, -68.11500811576843px) translate(0px, -140px);
                transform: translate(254.2943115234375px, 68.11500811576843px) translate(-254.2943115234375px, -68.11500811576843px) translate(0px, -140px);
                -webkit-animation-name: kf_el_5RhpMz8g_5_an_UYBV6fKy-;
                animation-name: kf_el_5RhpMz8g_5_an_UYBV6fKy-;
                -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
                animation-timing-function: cubic-bezier(0, 0, 1, 1);
                }
              #el_be3c9GXxrx_an_lk159vy3K {
                -webkit-transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, -70px);
                transform: translate(308.3180923461914px, 35.000005185604095px) translate(-308.3180923461914px, -35.000005185604095px) translate(0px, -70px);
                -webkit-animation-fill-mode: backwards;
                animation-fill-mode: backwards;
                -webkit-animation-name: kf_el_be3c9GXxrx_an_lk159vy3K;
                animation-name: kf_el_be3c9GXxrx_an_lk159vy3K;
                -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
                animation-timing-function: cubic-bezier(0, 0, 1, 1);
                }
              #el_S4jhmYoSNb_an_N_Te0KtrX {
                -webkit-animation-fill-mode: backwards;
                animation-fill-mode: backwards;
                -webkit-transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, -110px);
                transform: translate(94.08452221006155px, 54.63500213623047px) translate(-94.08452221006155px, -54.63500213623047px) translate(0px, -110px);
                -webkit-animation-name: kf_el_S4jhmYoSNb_an_N_Te0KtrX;
                animation-name: kf_el_S4jhmYoSNb_an_N_Te0KtrX;
                -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
                animation-timing-function: cubic-bezier(0, 0, 1, 1);
                }
